.about-container {
  padding: 32px;
  max-width: 1170px;
  margin: auto;
}

.teams {
  width: 100%;
  display: inline-flex;
}

.research-team {
  width: 50%;
}

@media only screen and (max-width: 960px) {
  .teams {
    display: block;
  }
  .research-team {
    width: 100%;
  }
}
