.download-modal-body{
    height: calc(100vh - 230px);
    overflow-y: auto;
}

.sticky-modal-footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #efefef;
    padding: 10px 18px;
  }

