<h1 mat-dialog-title>Walk & the City Center</h1>

<mat-horizontal-stepper #stepper linear>

    <mat-step [completed]="isAccepted"   label="Data Disclaimer"  optional="false">
        <div class="download-modal-body">
        <form [formGroup]="acceptDisclaimer">
        <h3>Data Download Disclaimer</h3>
        
            <p>All datasets provided by GeoCHOROS on its web pages are made available to provide immediate access for the convenience of interested persons and as a benefit to the environmental, public health, and urban planning science community. 
            </p>
            <p>
            Whilst GeoCHOROS believes these datasets to be reliable, human or mechanical error remains a possibility. Our team gives no warranty, expressed or implied, as to the accuracy, reliability, or completeness of these datasets. THE ENTIRE RISK OF USE OF THE DATA SHALL BE WITH THE USER. GeoCHOROS do not express or imply warranty made regarding the utility of the data on other systems for general or scientific purposes nor shall the act of distribution to the public or other agencies constitute any such warranty. This disclaimer applies both to individual use of the data and aggregate use with other data. 
            </p>
            <p>
            To access and use this data, we ask that you agree to this liability disclaimer and that you use proper citation on any materials (digital or printed) in which this information appears, and that you use the data appropriately. Since this system will be used by data providers on an ongoing basis please be aware that periodic revisions will be made to some of these datasets by their original owners.
            </p>
            <p><b>
            Citation: 
            GeoCHOROS Research Group. (2021). Walk & the City Center: WebGIS platform. National Technical University of Athens, Greece. 
            </b></p>
            <p>
            <a href="http://geochoros.survey.ntua.gr/walkandthecitycenter/app-map">http://geochoros.survey.ntua.gr/walkandthecitycenter/app-map </a>
            </p>
              
            </form>
    
        </div>
        <div class="modal-footer">
            <div mat-dialog-actions align="end">
                <button type="button" mat-raised-button color="primary" (click)="closeDialog()" >Decline</button>
                <button type="button" mat-raised-button color="primary" (click)="accept(stepper)" matStepperNext >Accept</button>
            </div>
        </div>
    
    </mat-step>
  
    <mat-step [stepControl]="personalDetails" label="Personal Details">
        <div class="download-modal-body">
        <form [formGroup]="personalDetails">
            <div class="col-12" >
                <div class="row">
                    
                    <mat-form-field class="customInputField" appearance="legacy">
                        <mat-label>First name</mat-label>
                        <input matInput placeholder="First name" formControlName="firstName">
                    </mat-form-field>
                
                    <mat-form-field class="customInputField" appearance="legacy">
                        <mat-label>Last name</mat-label>
                        <input matInput placeholder="Last name" formControlName="lastName">
                    </mat-form-field>
                    
                </div>
                <div class="row">
                    <mat-form-field class="customInputField" appearance="legacy">
                        <mat-label>Organisation</mat-label>
                        <input matInput placeholder="Organisation" formControlName="organisation">
                    </mat-form-field>

                    <mat-form-field class="customInputField" appearance="legacy">
                        <mat-label>Country</mat-label>
                        <input matInput placeholder="Country" formControlName="country">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="customInputField" appearance="legacy">
                        <mat-label>City(*)</mat-label>
                        <input matInput placeholder="City" formControlName="city">
                    </mat-form-field>

                    <mat-form-field class="customInputField" appearance="legacy">
                        <mat-label>Age</mat-label>
                        <input matInput placeholder="Age" formControlName="age">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="customInputField" appearance="legacy">
                        <mat-label>Email(*)</mat-label>
                        <input matInput placeholder="Email(*)" formControlName="email">
                    </mat-form-field>
                </div>
            </div>
        </form>
            </div>
        
            <div class="modal-footer">
                <div mat-dialog-actions align="end">
                    <button type="button" mat-raised-button color="primary" mat-button matStepperPrevious>Back</button>
                    <button type="button" mat-raised-button color="primary" [disabled]="!personalDetails.valid" mat-button matStepperNext>Next</button>
                </div>
            </div>
    </mat-step>

  
    <mat-step label="Survey" [stepControl]="survey">
        
        <div class="download-modal-body">
            
        <h3>Give us some valuable information!</h3>
        <form [formGroup]="survey">

        <p *ngFor="let item of surveyDataObjects">
           
            
        <mat-button-toggle-group appearance="legacy" formControlName="{{item.cntrlName}}" #group="matButtonToggleGroup">
            
            <mat-button-toggle value="1" aria-label="Very Dissatisfied">
                <mat-icon style="color:red">sentiment_very_dissatisfied</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="2" aria-label="Dissatisfied">
                <mat-icon style="color:orange">sentiment_dissatisfied</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="3" aria-label="Neutral">
              <mat-icon style="color:yellow">sentiment_neutral</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="4" aria-label="Satisfied">
                <mat-icon style="color:limegreen">sentiment_satisfied</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="5" aria-label="Very Satisfied">
                <mat-icon style="color:green">sentiment_very_satisfied</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
          {{item.quest}}
        </p>
        </form>
    </div>
    <div class="modal-footer">
        <div mat-dialog-actions align="end">
            <button type="button" mat-raised-button color="primary" mat-button matStepperPrevious>Back</button>
            <button type="button" mat-raised-button color="primary" [disabled]="!survey.valid" mat-button matStepperNext>Next</button>
        </div>
    </div>
    </mat-step>
  
    <mat-step label="Download">
        
        <div class="download-modal-body">
            
        <h3>Download Data</h3>
        <p>Please press the 'download' button to download the complete dataset </p>
        <p>59 European central urban areas - (36MB zipped shapefile)</p>
        <p>Our project is hosted on  <a href="https://github.com/geochoros-ntua/WalkAndTheCityCenter/">github</a>. You are welcome to contribute!</p>
        <p>Thanks for your interest</p>
      <h5>The Walk & the City Center Team</h5>

    </div>
    <div class="modal-footer">
        <div mat-dialog-actions align="end">
            <button type="button" mat-raised-button color="primary" mat-button matStepperPrevious>Back</button>
            <button type="button" (click)="sendSurveyData()" mat-raised-button color="warn" mat-button>Download</button>
        </div>
    </div>
    </mat-step>
  
  </mat-horizontal-stepper>