<div id="walk_map">
  
  <app-tileselector></app-tileselector>
  <app-indexselector [selectedIndex]="mapService.selectedIndex" [dataLoaded]="mapService.dataLoaded"></app-indexselector>
  <app-opacity-slider></app-opacity-slider>
  <app-downloader [selectedIndex]="mapService.selectedIndex"></app-downloader>
  <app-worldzoom></app-worldzoom>
  <app-zoominout></app-zoominout>
  
  
  <div *ngIf="mapService.dataLoaded === false" class="loader" >
    <mat-spinner  diameter="70" mode="indeterminate" ></mat-spinner>
  </div>

  
  
</div> 
<app-popup></app-popup>


