#walk_map {
  background-color:0#ffffffff;
  height:92%;
  width:100%;
  position:fixed;
}

.loader {
  top: 40%;
  left: 47%;
  position: absolute; 
  z-index: 9999;  
  font-size: 12px;
  font-weight: bold;
  color: white;
}

