#walk_map {
  background-color:0#ffffffff;
  height:92%;
  width:100%;
  position:fixed;
}

:host ::ng-deep  .zoomToWorldCntrl {
  top: 4.5em;
  left: .5em;
}

:host ::ng-deep .ol-legendCntrl {
  bottom: .5em;
  left: .5em;
}

:host ::ng-deep .legendDivHide {
  margin: 0;
  display:none;
}
:host ::ng-deep .legendDivShow {
  border: 1px solid #cccccc;
  margin: 0;

}


:host ::ng-deep .geostats-legend div {
  padding: 2px 3px 2px 3px;
  font-size: 12px;
}

:host ::ng-deep .geostats-legend-title {
  font-weight: bold;
  margin-bottom: 4px;
}

:host ::ng-deep .geostats-legend-block {
  border: 1px solid #555555;
  display: block;
  float: left;
  height: 12px;
  margin: 0 5px 0 20px;
  width: 20px;

}

:host ::ng-deep .geostats-legend-counter {
  font-size: 0.8em;
  color: #666;
  font-style: italic;
}


.tileSelectorCntrl {
  top: 0.6em;
  right: 40px; 
  position: absolute; 
  z-index: 9999;  
  font-size: 12px;
  font-weight: bold;
  color: white;

}

.indexSelectorCntrl {
  top: 0.6em;
  left: 60px; 
  position: absolute; 
  z-index: 9999;  
  font-size: 12px;
  font-weight: bold;
  color: white;
}


.loader {
  top: 40%;
  left: 47%;
  position: absolute; 
  z-index: 9999;  
  font-size: 12px;
  font-weight: bold;
  color: white;
}

   

.vertical-menu {
  width: 200px; /* Set a width if you like */
  position: absolute;
  font-size: 12px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 0;
  padding-bottom: 0;
  max-height: 256px;
  min-width: 100%;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),0px 4px 5px 0px rgba(0, 0, 0, 0.14),0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.vertical-menu a {
  background-color: rgba(238,238,238,0.5); /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu div{
  background-color: rgba(61,94,138, 0.7);
  padding: 12px;
  display: block;
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color:#3d5e8a; /* Add a green color to the "active/current" link */
  color: white;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

.popup-content {
  max-height:200px; 
  overflow-y:auto;
  overflow-x:hidden;
  margin-top:10px;
  font-size:12px;
}


