<div>
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <!-- <img src="assets/icons/logo_v2_transparent.gif" style="height: 7vh;"> -->
      <span>{{name}}</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <button mat-icon-button routerLink="/home" [routerLinkActive]="['is-active']"
        [routerLinkActiveOptions]="{exact: false}">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button routerLink="/app-map" [routerLinkActive]="['is-active']"
        [routerLinkActiveOptions]="{exact: false}">
        <mat-icon>public</mat-icon>
      </button>
      <button mat-icon-button routerLink="/cities" [routerLinkActive]="['is-active']"
        [routerLinkActiveOptions]="{exact: false}">
        <mat-icon>location_city</mat-icon>
      </button>
      <button mat-icon-button routerLink="/chart" [routerLinkActive]="['is-active']"
        [routerLinkActiveOptions]="{exact: false}">
        <mat-icon>multiline_chart</mat-icon>
      </button>
      <button mat-icon-button routerLink="/app-help" [routerLinkActive]="['is-active']"
        [routerLinkActiveOptions]="{exact: false}">
        <mat-icon>help</mat-icon>
      </button>
      <button mat-icon-button routerLink="/about-us" [routerLinkActive]="['is-active']"
        [routerLinkActiveOptions]="{exact: false}">
        <mat-icon>info</mat-icon>
      </button>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container" [hasBackdrop]="false">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <div style="padding: 8px;" fxLayout="column">
        <button mat-icon-button routerLink="/home" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact: false}">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button routerLink="/app-map" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact: false}">
          <mat-icon>public</mat-icon>
        </button>
        <button mat-icon-button routerLink="/cities" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact: false}">
          <mat-icon>location_city</mat-icon>
        </button>
        <button mat-icon-button routerLink="/chart" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact: false}">
          <mat-icon>multiline_chart</mat-icon>
        </button>
        <button mat-icon-button routerLink="/app-help" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact: false}">
          <mat-icon>help</mat-icon>
        </button>
        <button mat-icon-button routerLink="/about-us" [routerLinkActive]="['is-active']"
          [routerLinkActiveOptions]="{exact: false}">
          <mat-icon>info</mat-icon>
        </button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>