@import "~@angular/material/theming";
@import "../../styles.scss";

.front-teaser-parent {
  // max-width: 1170px;
  margin: auto;
  padding: 32px;
}

.front-teaser {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.city-card {
  width: 250px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  transition: all .8s ease-in-out;
}

.city-image {
  background-image: url("../../assets/images/citymobility.jpg");
  background-size: cover;
}

.cities-header {
  max-width: 1170px;
  margin: auto;
}

.cities-controls {
  max-width: 1170px;
  margin: auto;
  text-align: start;
  margin-bottom: 16px;
}

.order-number {
  color: mat-color($watc-app-accent);
  font-weight: 800;
}

.yellow-value {
  color: mat-color($watc-app-accent);
}

.gray-value {
  color: #5e747e;
}

.cities-download {
  vertical-align: middle;
  margin-left: 0.83em;
}

$randomNumber: random(10);
$randomNumber1: random(10);
$randomNumber2: random(10);
$randomNumber3: random(10);
$randomNumber4: random(10);
$randomNumber5: random(10);

// .country-text {
//   display: inline-block;
//   animation: text-rotate $randomNumber + s 1 ease-in-out;
//   animation-delay: $randomNumber1 + s;
//   // transition: all .8s ease-in-out;
// }

.country-text-0 {
  display: inline-block;
  animation: text-rotate $randomNumber + s 1 ease-in-out;
  animation-delay: $randomNumber + s;
  // transition: all .8s ease-in-out;
}

.country-text-1 {
  display: inline-block;
  animation: text-rotate $randomNumber + s 1 ease-in-out;
  animation-delay: $randomNumber1 + s;
  // transition: all .8s ease-in-out;
}

.country-text-2 {
  display: inline-block;
  animation: text-rotate $randomNumber + s 1 ease-in-out;
  animation-delay: $randomNumber2 + s;
  // transition: all .8s ease-in-out;
}

.country-text-3 {
  display: inline-block;
  animation: text-rotate $randomNumber + s 1 ease-in-out;
  animation-delay: $randomNumber3 + s;
  // transition: all .8s ease-in-out;
}

.country-text-4 {
  display: inline-block;
  animation: text-rotate $randomNumber + s 1 ease-in-out;
  animation-delay: $randomNumber4 + s;
  // transition: all .8s ease-in-out;
}

.country-text-5 {
  display: inline-block;
  animation: text-rotate $randomNumber + s infinite ease-in-out;
  animation-delay: $randomNumber5 + s;
  // transition: all .8s ease-in-out;
}


@keyframes text-rotate {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0);
  }
}

