<section>
    <div class="front-teaser-parent">
        <div class="cities-header">
            <h1>Cities</h1>
        </div>
        <div class="cities-header">
            <p>Attractive and pleasant pedestrian streetscapes bring together people and the city. They also boost
                walking activity and support social interactions. However, European cities demonstrate diverse urban
                qualities and significant sidewalk-level differences. Thus, pedestrian infrastructure deficiencies and
                dysfunctional walking environments might prevent some places becoming more sustainable and livable,
                while at the same time environmental inequities among European cities are created. In this application,
                users can explore the performance of several central urban areas across Europe concerning some critical
                topics of microscale design factors, such as sidewalk or building maintenance, curb cuts, crosswalks,
                graffiti, shading, public seats, active uses, streetlights, sidewalk width, etc. Users can rank city
                centers per each walkability-related topic and according to the results of a massive virtual street
                observation process applied in each city and street or crossing segment, separately, block-by-block.
                More methodological details about the raw data collection and processing can be seen in our data article
                published by Data in Brief Journal&nbsp;<span><a href="#" target="_blank">here</a></span>.
            </p>
        </div>
        <div class="cities-controls">
            <mat-form-field style="width: 500px; max-width: 75%;" appearance="fill">
                <mat-label>Variable</mat-label>
                <mat-select [(value)]="selectedVariable"
                    (selectionChange)="sortCities($event, reverse, false, selectedCountry, capitals)">
                    <mat-option *ngFor="let header of headers" [value]="header">
                        {{header.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="cities-download" appearance="fill">
                <mat-label>Region</mat-label>
                <mat-select [(value)]="selectedRegion"
                    (selectionChange)="sortCities(selectedVariable, reverse, true, selectedCountry, capitals)">
                    <mat-option *ngFor="let region of regions" [value]="region">
                        {{region.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-slide-toggle class="cities-download" [disabled]="selectedVariable === null" [checked]="false"
                [(ngModel)]="reverse" (change)="sortCities(selectedVariable, reverse, true, selectedCountry, capitals)">
                Reverse order
            </mat-slide-toggle>
            <mat-slide-toggle class="cities-download" [checked]="false" [(ngModel)]="capitals"
                (change)="sortCities(selectedVariable, reverse, true, selectedCountry, capitals)">
                Capitals
            </mat-slide-toggle>
            <a class="cities-download" mat-primary-button href="https://data.mendeley.com/datasets/pvtwcjs365/1"
                target="_blank">
                <mat-icon>download</mat-icon>
            </a>
        </div>
        <div *ngIf="cities.length > 0" class="front-teaser" [@listAnimation]="suffleCards">
            <mat-card class="city-card" *ngFor="let city of cities" [@rotatedState]='city.state'>
                <mat-card-header>
                    <mat-card-title>{{city.name}}<span></span></mat-card-title>
                    <div style="flex: 1;"></div>
                    <!-- [routerLink]="['/app-map', '?zoom=13.384169045273175&center=4.4005070137241376,51.220093711298745&city=Antwerp&statIndex=Score']"> -->
                    <button mat-icon-button
                        (click)="navigateToMap(city.zoom, city.center, city.name, selectedVariable.map_value)">

                        <mat-icon class="yellow-value" mat-card-avatar>public</mat-icon>
                    </button>
                    <mat-card-subtitle *ngIf="selectedVariable.value !== 'alphabetical'">Rank:&nbsp;<span
                            class="order-number">{{city.order_number}}</span>
                    </mat-card-subtitle>
                </mat-card-header>
                <img [title]="city.flipped_image ? 'Click me to see an image of ' + city.name : 'Click me to see City Rankings Summary Chart'"
                    style="display: block;" class="city-image" mat-card-image
                    [src]="city.flipped_image ? city.chart_image : city.image" (click)="flipImage(city)">
                <mat-card-content>
                    <p *ngIf="selectedVariable.value !== 'alphabetical'">
                        <span style="font-weight: 700;">{{selectedVariable?.name}}:</span>&nbsp;<span
                            class="yellow-value">{{city.selected_variable}}%</span>&nbsp;{{suffix}}
                    </p>
                    <p *ngIf="selectedVariable.value === 'alphabetical'" style="font-size: 90%;">
                        <span style="font-size: 110%;">Country:</span>&nbsp;<span
                            [ngClass]="(city.country === selectedCountry)? 'yellow-value' : 'some-class'"
                            class="country-text-{{city.random_number}}" style="cursor: pointer; font-size: 110%;"
                            (click)="setSelectedCountry(city.country); sortCities(selectedVariable, reverse, true, selectedCountry, capitals);">{{city.country}}</span><br>
                        Total Length of Segments (km):&nbsp;<span class="yellow-value">{{city.segments}}</span><br>
                        Total Area (sq.km):&nbsp;<span class="yellow-value">{{city.area}}</span><br>
                        Max. % of audited segments & Year of Google Image Capture:&nbsp;<span
                            class="yellow-value">{{city.max_segments}}</span>
                    </p>
                    <p *ngIf="selectedVariable.value !== 'alphabetical'" style="font-size: 90%;">
                        <span class="gray-value" style="font-size: 110%;">Country:</span>&nbsp;<span
                            style="cursor: pointer; font-size: 110%;" class="country-text-{{city.random_number}}"
                            [ngClass]="(city.country === selectedCountry)? 'yellow-value' : 'some-class'"
                            (click)="setSelectedCountry(city.country); sortCities(selectedVariable, reverse, true, selectedCountry, capitals);">{{city.country}}</span><br>
                        <span class="gray-value">Total Length of Segments (km):</span>&nbsp;<span
                            class="yellow-value">{{city.segments}}</span><br>
                        <span class="gray-value">Total Area (sq.km):</span>&nbsp;<span
                            class="yellow-value">{{city.area}}</span><br>
                        <span class="gray-value">Max. % of audited segments & Year of Google Image
                            Capture:</span>&nbsp;<span class="yellow-value">{{city.max_segments}}</span>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>