@import "~@angular/material/theming";
@import "../../styles.scss";

.front-teaser-parent {
  // max-width: 1170px;
  margin: auto;
  padding: 32px;
}

.front-teaser {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.city-card {
  width: 250px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.city-image {
  background-image: url("../../assets/images/citymobility.jpg");
  background-size: cover;
}

.cities-header {
  max-width: 1170px;
  margin: auto;
}

.cities-controls {
  max-width: 1170px;
  margin: auto;
  text-align: end;
}

.order-number {
  color: mat-color($watc-app-accent);
  font-weight: 800;
}

.yellow-value {
  color: mat-color($watc-app-accent);
}

.gray-value {
  color: #5e747e;
}

.cities-download {
  vertical-align: middle;
  margin-right: 0.83em;
}

