  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Style Editor</h4>
      <div class="row">
        <mat-form-field fillColor="accredent" appearance="fill">
            <mat-label style="color:white;">Pick a Method</mat-label>
            <mat-select [value]="mapStatsService.statMethod" (selectionChange)="setStatsMethod($event.value)">
            <mat-option *ngFor="let method of mapStatsService.statMethods; index as i" [value]="method">
                {{mapStatsService.statMethodsLabels[i]}}
            </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field fillColor="accredent" appearance="fill">
            <mat-label style="color:white;">Number of Classes</mat-label>
            <input
            type="number"
            [value]="mapStatsService.numOfClasses"
            matInput
            name="numclasses"
            placeholder="Number of classes"
            (change)="setClassesNum($event.target.value)">
        </mat-form-field>
      </div>
    </div>
    <div class="modal-footer">
      <button class="apply-button" type="button" (click)="applyStyle()" matTooltip="Apply style to map" mat-raised-button        >
        <mat-icon>format_paint</mat-icon>Apply 
    </button>
    </div>
  </div>
