@import '~@angular/material/theming';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: 'Rajdhani', sans-serif;
}

$custom-typography: mat-typography-config(
  $font-family: 'Rajdhani, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);

$watc-app-primary: mat-palette($mat-grey, 800, 700, 900);
$watc-app-accent:  mat-palette($mat-red, A200, A100, A400);

$watc-app-theme: mat-dark-theme((
  color: (
    primary: $watc-app-primary,
    accent: $watc-app-accent,
  )
));

@include angular-material-theme($watc-app-theme);

.mat-form-field .mat-form-field-flex {
  background-color: rgba(111, 111, 111, 0.6);
}

a {
  color: mat-color($watc-app-accent);
  text-decoration: none;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: mat-color($watc-app-accent);
}

.material-icons {
  vertical-align: middle;
}

.mat-toolbar {
  z-index: 2;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.5);
  position: relative;
}

.pub-item {
  .mat-list-item-content {
    display: block !important; 
  }
}