@import "~@angular/material/theming";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Rajdhani", sans-serif;
  background: #5e747e;
}

$custom-typography: mat-typography-config(
  $font-family: "Rajdhani, sans-serif",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);

@include mat-core($custom-typography);

// $watc-app-primary: mat-palette($mat-grey, 800, 700, 900);
// $watc-app-accent:  mat-palette($mat-red, A200, A100, A400);

// κιτρινο #b59622
// μαυρο #09090c
// γκρι 	#5e747e
$my-black: (
  50: #09090c,
  100: #09090c,
  200: #09090c,
  300: #09090c,
  400: #09090c,
  500: #09090c,
  600: #09090c,
  700: #09090c,
  800: #09090c,
  900: #09090c,
  A100: #09090c,
  A200: #09090c,
  A400: #09090c,
  A700: #09090c,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$my-yellow: (
  50: #b59622,
  100: #b59622,
  200: #b59622,
  300: #b59622,
  400: #b59622,
  500: #b59622,
  600: #fdcc0d,
  700: #fdcc0d,
  800: #fdcc0d,
  900: #fdcc0d,
  A100: #fdcc0d,
  A200: #fdcc0d,
  A400: #fdcc0d,
  A700: #fdcc0d,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
    A100: black,
    A200: black,
    A400: black,
    A700: black,
  ),
);

$watc-app-primary: mat-palette($my-black, 800, 700, 900);
$watc-app-accent: mat-palette($my-yellow, A200, A100, A400);

$watc-app-theme: mat-dark-theme(
  (
    color: (
      primary: $watc-app-primary,
      accent: $watc-app-accent,
    ),
  )
);

@include angular-material-theme($watc-app-theme);

.mat-drawer-container {
  background-color: #5e747e;
}

.mat-card {
  background: mat-color($watc-app-primary);
}

// .mat-form-field .mat-form-field-flex {
//   background-color: rgba(111, 111, 111, 0.6);
// }

a {
  color: mat-color($watc-app-accent);
  text-decoration: none;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: mat-color($watc-app-accent);
}

.material-icons {
  vertical-align: middle;
}

.mat-toolbar {
  z-index: 2;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.5);
  position: relative;
}

.pub-item {
  .mat-list-item-content {
    display: block !important;
  }
}

.mat-form-field-flex {
  background-color: #010203 !important;
}

.mat-card-image {
  object-fit: cover;
  height: 200px;
  // transform: rotateY(-180deg);
  transform-style: preserve-3d;
  cursor: pointer;
  transition: all .8s ease-in-out;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: white;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: rgba(0, 0, 0, 0.6);
}

.profile-item {
  width: 50% !important;
  height: auto !important;
  display: inline-block !important;
  .mat-list-item-content {
    display: block !important;
  }
}

.geochoros-logo {
  img {
    margin-right: 16px;
    margin-top: 6px;
    width: 10%;
    float: left;
    max-width: 50px;
  }
}

.geochoros-text {
  display: inline;
}

.is-active {
  color: mat-color($watc-app-accent);
}

@media only screen and (max-width: 700px) {
  .profile-item {
    width: 100% !important;
    display: block !important;
  }
}
