.help-page {
    max-width: 1170px;
    margin: auto;
    padding: 32px;
  }

  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }

  td {
    padding: 8px;
  }

  .faq-accord {
    margin-bottom: 16px;
  }