.help {
    background-color:#ffffff;
    color:#ffffff;
    text-align: center;
    height:100%;
    width:100%;
    position:fixed;
    }
    .help p {
    color:black;
    }
    .help h1 {
    color:black;
    }