@import "~@angular/material/theming";
@import "../../styles.scss";

.front-image {
  position: relative;
  background-image: url("../../assets/images/front_page.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: calc(100vh - 8vh);
}

.front-image-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(transparent 99%, #5e747e);
}

.front-image-blend {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #5e747e;
  opacity: 0.4;
  mix-blend-mode: multiply;
}

.front-info-container {
  display: inline-flex;
  width: 100%;
}

.front-logo-container {
  animation: left-right 5s infinite ease-in-out;
  margin-right: 40px;
}

.front-image-logo {
  animation: grow 5s infinite ease-in-out;
}

.front-slogan-container {
  padding-left: 110px;
  padding-right: 16px;
  align-self: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-left: solid #fdcc0d 2px;
  // border-right: solid mat-color($watc-app-accent) 4px;
  animation: grow_b 5s infinite ease-in-out;
}

.front-image-info {
  position: absolute;
  top: 25%;
  // text-align: center;
  left: 0;
  width: 100%;
}

.ntua-container {
  display: flex;
}

.ntua-logo {
  width: 50px;
  height: 50px;
}

.ntua-text {
  // color: white;
  font-size: 16px !important;
  line-height: 50px;
  margin: 0;
  padding-left: 8px;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 1);
}

.front-image-text {
  // color: white;
  margin-top: 6px;
  font-size: 24px !important;
  line-height: 24px;
  font-style: italic;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 1);
}

.front-content {
  padding: 32px;
  margin-bottom: 32px;
  margin-top: 32px;
}

.front-explore {
  max-width: 1170px;
  margin: auto;
  justify-content: center;
  display: flex;
}

.explore-item {
  padding: 32px;
  text-align: center;
  width: 33%;
}

.explore-item-text {
  font-size: 24px;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  transition: all 1s ease-in-out;
}

.explore-item-text-a {
  color: #010203;
  text-decoration: none;
}

.explore-button {
  transition: 1s ease-in-out;
}

.explore-item:hover {
  .explore-button {
    transform: translateY(-0.25rem);
    box-shadow: 0px 5px 7px -1px rgb(0 0 0 / 20%),
      0px 8px 12px 0px rgb(0 0 0 / 14%), 0px 2px 24px 0px rgb(0 0 0 / 12%);
  }
  .explore-item-text {
    transform: translateY(-0.25rem);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
  }
}

.front-text {
  max-width: 1170px;
  margin: auto;
}

.footer {
  background: mat-color($watc-app-primary);
  color: #fff;
}

.inner-footer {
  max-width: 1170px;
  margin: auto;
}

.copyright {
  margin: 0;
  padding: 32px;
}

.footer-logos {
  margin: 0;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
}

footer a {
  display: flex;
  align-items: center;
}

.social-container {
  display: flex;
  padding: 32px;
}

.social-button {
  opacity: 0.5;
  transition: 1s ease-out;
}

.social-button:hover {
  opacity: 0.75;
}

.circle-link {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-left: 16px;
  background-color: mat-color($watc-app-accent);
  // border: 1px solid #eeeeee;
  align-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link-uncolored {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-left: 16px;
  align-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link-uncolored:hover {
  transform: translateY(-0.35rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.circle-link:hover {
  transform: translateY(-0.35rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.more-info {
  margin: 0;
  padding: 32px;
}

.footer-team {
  margin: 0;
  padding: 32px 32px 0 32px;
}

.footer-publications {
  margin: 0;
  padding: 32px 32px 0 32px;
}

.footer-member-name {
  color: mat-color($watc-app-accent);
}

.scroll-down {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;
  transition: 1s ease-in-out;
  color: mat-color($watc-app-accent);
}

.scroll-down:hover {
  transform: scale(1.2);
}

@keyframes grow {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes grow_b {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes left-right {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(20px);
  }
}

@media only screen and (max-width: 960px) {
  .front-info-container {
    display: block;
  }

  .front-image-info {
    top: 0;
  }

  .front-logo-container {
    
    // border-bottom: solid white 4px;
    
    animation: none;
  }

  .front-image-logo {
    animation: none;
  }

  .ntua-text {
    line-height: 25px;
  }

  .front-slogan-container {
    border-left: solid white 0px;
    border-top: solid #fdcc0d 2px;
    padding-left: 40px;
    padding-top: 40px;
    animation: none;
  }
}
