<section>
    <div class="front-image">
        <div class="front-image-blend"></div>
        <div class="front-image-info">
            <div class="front-info-container">
                <div class="front-logo-container"><img style="max-width: 100%;" src="assets/images/watc_logo.png"></div>
                <div class="front-slogan-container">
                    <p class="front-image-text">How pedestrian-friendly are European city centers?</p>
                    <div class="ntua-container">
                        <img class="ntua-logo" src="assets/images/ntua_logo.png">
                        <p class="ntua-text">National Technical University of Athens, Greece</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="front-content">
        <mat-card class="front-text">
            <h2>Description</h2>
            <p>
                Planning for more walking-friendly central urban areas improves public space attractiveness, walking
                experience, and urban sustainability. However, lack of micro-scale design data (e.g., sidewalks,
                crosswalks, aesthetics, etc.) measuring aspects of walking qualities within Europe was a significant
                barrier in creating more comprehensive research programs and policies.
            </p>
            <p>
                By developing urban analytics for healthier and more walkable street environments throughout Europe, we
                envision how pedestrian-friendly are European central urban areas and we get a better understanding
                about the location of development gaps in public spaces of each city center area.
            </p>
            <p>
                This website introduces density maps of high spatial resolution (100m X 100m) of 17 pre-processed and
                microscale walkability indicators, covering 59 central urban areas from 26 European countries. To
                collect the raw GIS data, we applied a virtual (i.e., Google Street View) street audit tool on every
                street and crossing segment, and on both sides of each street separately, block-by-block. We digitized
                in polyline features observations and evaluations for a total of 112.577 street- and/or
                crossing-segments, during a 21 month data collection period which required more than 46 trained
                observers.
            </p>
            <p>
                The datasets can be utilized to raise awareness of unsatisfactory pedestrian environments and appoint it
                as a key health and environmental issue, as well as to assist European policy-makers to apply urban
                mobility strategies and monitor progress in urban sustainability and public health goals.
            </p>
            <p>
                Further details can be found in: GeoCHOROS Research Group. (2021). Walk & the City Center: WebGIS
                platform. National Technical University of Athens, Greece.
            </p>
        </mat-card>

    </div>

    <div class="front-content">
        <div class="front-explore">
            <div class="explore-item">
                <button class="explore-button" mat-fab color="accent" routerLink="/cities">
                    <mat-icon>location_city</mat-icon>
                </button>
                <p class="explore-item-text"><a routerLink="/cities" class="explore-item-text-a">Explore the cities</a>
                </p>
            </div>
            <div class="explore-item">
                <button class="explore-button" mat-fab color="accent" routerLink="/app-map">
                    <mat-icon>map</mat-icon>
                </button>
                <p class="explore-item-text"><a routerLink="/app-map" class="explore-item-text-a">Explore the map</a>
                </p>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="inner-footer">
            <!-- <div class="social-container"><a title="facebook" href="https://facebook" target="_blank"
                    class="circle-link"><img src="assets/icons/facebook.svg" type="image/svg+xml"
                        class="social-button"></a><a title="instagram" href="https://instagram" target="_blank"
                    class="circle-link"><img src="assets/icons/instagram.svg" type="image/svg+xml"
                        class="social-button"></a><a title="twitter" href="https://twitter" target="_blank"
                    class="circle-link"><img src="assets/icons/twitter.svg" type="image/svg+xml"
                        class="social-button"></a><a title="youtube" href="https://youtube" target="_blank"
                    class="circle-link"><img src="assets/icons/youtube.svg" type="image/svg+xml"
                        class="social-button"></a><a title="github"
                    href="https://github.com/geochoros-ntua/WalkAndTheCityCenter" target="_blank"
                    class="circle-link"><img src="assets/icons/github.svg" type="image/svg+xml"
                        class="social-button"></a></div> -->

            <div class="footer-team">
                <h2>Team</h2>
                <mat-list>
                    <mat-list-item *ngFor="let member of team">
                        <div style="font-size: 22px; line-height: 24px;">{{member.name}}, {{member.description}}</div>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="footer-publications">
                <h2>Publications</h2>
                <mat-list>
                    <mat-list-item class="pub-item" style="height: auto; margin-bottom: 4px;" *ngFor="let pub of pubs">
                        <span>{{pub.name}} </span><a href="{{pub.doi}}" target="_blank">{{pub.doi}}</a>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="more-info">
                <p>For more information,</p>
                <a href="mailto: geochoros@mail.ntua.gr">geochoros@mail.ntua.gr</a>
            </div>


            <div class="footer-logos">
                <a class="circle-link-uncolored" href="http://geospatial.ntua.gr/" target="_blank"><img width="50"
                        src="assets/images/geochoros.png"></a>
                <a class="circle-link-uncolored" href="https://ntua.gr/" target="_blank"><img width="50"
                        src="assets/images/ntua_logo.png"></a>
                <a title="github" href="https://github.com/geochoros-ntua/WalkAndTheCityCenter" target="_blank"
                    class="circle-link"><img src="assets/icons/github.svg" width="50" type="image/svg+xml"
                        class="social-button"></a>
            </div>
            <div style="display: flex; padding: 32px 32px 0 32px;">
                <p style="margin: 0;">Video credit: Watched Walker,&nbsp;</p><a
                    href="https://www.youtube.com/watch?v=MyThli8Qp0Y">Walking Barcelona’s Passeig de Gràcia and Rambla
                    de Catalunya</a>
            </div>
            <p class="copyright">&#169; GeoCHOROS, 2021. All rights reserved.</p>
        </div>
    </div>
</section>